<%= form_tag telegram_proxies_path, remote: true, format: :js do %>
  <div id="telegram-proxies" class="">
    <% @proxies.each do |proxy| %>
      <%= render partial: 'item', locals: { proxy: proxy } %>
    <% end %>
  </div>

  <div>
    <%= link_to l(:button_add), telegram_proxy_new_path, remote: true %>
  </div>

  <p>
    <%= submit_tag l(:button_save) %>
  </p>

<% end %>
